@import "../imports/colors";
@import "../imports/sizes";

@keyframes top {
  from {
    transform: translateY(-.5rem);
  }
  to {
    transform: translateY(.5rem);
  }
}

#scroller {
  position: fixed;
  height: 100%;
  display: flex;

  .content {
    padding-left: $sidebar-width;
    position: relative;
    width: 350vw;
    height: 100%;
    background: linear-gradient(90deg, red, purple);

    .test {
      position: absolute;
      right: 17px;
      top: 0;
      width: 200px;
      height: 50px;
      background-color: #fff;
    }

    &::after {
      z-index: 10;
      content: "lol";
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
                      45deg,
                      #606dbc,
                      #606dbc 100px,
                      #465298 100px,
                      #465298 200px
      );
    }
  }
}

#top {
  animation: top 2s alternate infinite ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 5000px;
  background-color: $color-bg;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  transition: all .1s ease-in;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .3);
    background-color: $color-bg-focus;
  }

  .material-icons {
    color: $color-fg;
    font-size: 2rem;
  }
}