@import "imports/colors";
@import "imports/sizes";
@import "imports/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.material-icons, img {
  @include unselectable;
}